# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


/.idea
/monitor-frontend/.idea
/monitor-backend/.idea

# dependencies
/monitor-frontend/node_modules
/monitor-frontend/.pnp
/monitor-frontend/.pnp.js

# testing
/monitor-frontend/coverage
/monitor-frontend/README.md
/monitor-backend/README.md

# production
/monitor-frontend/build

# misc
/monitor-frontend/.DS_Store
/monitor-frontend/.env.local
/monitor-frontend/.env.development.local
/monitor-frontend/.env.test.local
/monitor-frontend/.env.production.local

/monitor-frontend/npm-debug.log*
/monitor-frontend/yarn-debug.log*
/monitor-frontend/yarn-error.log*
