.cancel {
  background-color: transparent;
}
.cancel:hover {
  background-color: rgba(217, 83, 79, 0.2);
}

.add-sensor {
  background-color: transparent;
}
.add-sensor:hover {
  background-color: rgba(2, 117, 216, 0.2);
}