.sensors {
  .new-sensor {
    background-color: transparent;
    color: green;
    border: 1px solid green;
  }
  .history {
    background-color: transparent;
  }
  .chart {
    max-height: 50px;
  }
}