.footer {
  background-color: gray;
  color: #fff;
  width: 100%;
  bottom: 0;
  position: fixed;

  .git {
    cursor: pointer;
    color: #fff;
  }
  .git:hover {
    color: black;
    text-decoration: none;
  }
}

@media (max-height: 992px) {
  .footer {
    font-size: .8em;
  }
}