@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-size: 1em;
}

@import "partials/header";
@import "partials/chart";
@import "partials/add-sensor";
@import "partials/alert-history";
